.card-body {
    background-color: #1DB954 !important; /*spotify green - https://developer.spotify.com/branding-guidelines/*/
}

.transparent {
    mix-blend-mode: multiply;
}

.col {
    padding: 5px; /*default is a huge 15px*/
}